@import "../scheme";

//===================
// FOOTER
//===================
.footer_container {
  padding: $content-body-desktop-width;
  padding-top: 1em;
  text-align: center;
}

.emeents_logo {
  max-width: 100px;
}

.closing_tagline {
  margin: 2em 0em;
  text-align: center;
  text-transform: uppercase;

  p {
    padding: 0.15em 0em;
  }
}
