// =======================
// COLORS
// =======================
$blue-grey: #354052;
$dark-blue-grey: #2f3949;
$teal: #4DB6AC;
$blue-purple: #7986CB;
$purple: #9575CD;
$green: #81C784;
$red: #e57373;
$orange: #FF8A65;

$black: #000000;
$white: #ffffff;

$off-white: #F5F5F5;
$dark-white: #EEEEEE;
$light-grey: #E0E0E0;

// Body
$font-stack: 'Open Sans', sans-serif;
$content-body-desktop-width: 0em 10em;
$content-body-laptop-width: 0em 4em;
$content-body-tablet-width: 0em 2em;
$content-body-mobile-width: 0em 0em;

// Title
$title-size: 1.75em;

// Navigation
$nav-size: 1.25em;
$nav-height: 100px;
